.ls-league_list {
    list-style-type: none; 
    text-align: center; 
    margin: 30px auto; 
    width: 250px;   
}

.ls-dashboard__title {
    margin-top: 50px;
    font-size: 25px;  
}


@media only screen and (min-width: 720px) {
    .ls-league_list {
        width: 350px; 
    }
}