.ls-league_list {
    list-style-type: none; 
    text-align: center; 
    margin: 30px auto; 
    width: 250px;   
}

.ls-dashboard__title {
    margin-top: 50px;
    font-size: 25px;  
}


@media only screen and (min-width: 720px) {
    .ls-league_list {
        width: 350px; 
    }
}

@media only screen and (min-width: 800px) {
    .ls-league_list {
        display: grid; 
        grid-template-columns: 300px 300px;
        column-gap: 20px; 
        justify-content: center;  
    }
}

@media only screen and (min-width: 1300px) {
    .ls-league_list {
        display: grid; 
        grid-template-columns: 300px 300px 300px ;
        column-gap: 20px; 
        justify-content: center;  
    }
}