.nav {
    font-size: 25px; 
}

.ls-league__form {
    margin-right: 40px; 
}

.ls-league__form,
.ls-sponsor {
    text-decoration: none; 
    color: #233142;
}

.ls-league__form:hover,
.ls-sponsor:hover {
    color: #fbc531;
    transition: 0.7s; 
}

@media only screen and (min-width: 720px) {
    .ls-logo {
        width: 400px; 
        margin: 0 auto; 
    }

    .ls-league__form,
    .ls-sponsor {
        font-size: 32px; 
    }
}